          <tr class="hover:bg-gray-100">
              <td colspan={@colspan} class="p-4 w-4">
                <div class="flex items-center justify-center">
                    Nenhum registro encontrado
                </div>
              </td>
          </tr>
